<!DOCTYPE html>
<html ng-app="codelab">
  <head>
    <meta charset="utf-8" />
    <title>Codelab - angularjs</title>
    <link rel="stylesheet" href="stylesheets/foundation.min.css" />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <style>
    .ib{
      display: inline-block;
    }
    </style>
  </head>

  <body>
    <h1>Maestro detalle angular</h1>
    <div ng-controller="MasterController">

      <table class='table' width="100%">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th></th>
      </tr>

      <tr ng-repeat="product in products track by $index">
        <td>
          <select  ng-model="product.item" ng-options="p.id as [p.name, '(' + p.unit + ')'].join(' ') for p in items">
          </select>
        </td>
        <td><input type="text" size="4" class="text-right" ng-model="product.price"/></td>
        <td><input type="text" size="4" class="text-right" ng-model="product.quantity"/></td>
        <td class="text-right">{{product.price * product.quantity|currency:'Bs. '}}</td>
        <td>
          <a ng-click="del(product, $index)" title='Borrar' href="javascript:;" class='button tiny radius alert'>X</a>
        </td>
      </tr>

      <tr>
        <td colspan="3" class="pad10">
          <button ng-click="addNew()" class='button radius tiny'>+ Nueva línea.</button>
        </td>
        <td class="text-right"><strong>{{ total()|currency:'Bs. ' }}</strong></td>
      </tr>
    </table>

    <button ng-click='save()' class='button success radius small'>Salvar</button>

    <pre>
      <code>
        {{ text|json }}
      </code>
    </pre>
    </div>
  </body>
</html>
